<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Caracteristicas de los modelos de avion</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    .logo {
      width: 150px;
    }
    .date {
      text-align: right;
    }
    .report-title {
      text-align: center;
      margin: 20px 0;
      font-size: 1.5em;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <header>
    <img src="{{logoUrl}}" alt="Logo de la Empresa" class="logo">
    <div class="date">Fecha: {{formatDate}}</div>
  </header>
  <div class="report-title">Modelos de avion con sus caracteristicas</div>
  <table id="reporte">
    <thead>
      <tr>
          {{#each columna}}
            <th>{{columna}}</th>
          {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each fila}} 
        <tr> 
          {{#each resultado}} 
            <td>{{this}}</td> 
          {{/each}} 
        </tr>
      {{/each}}
    </tbody>
  </table>
  <script> 
    function mergeTableCells(tableId) { 
      const table = document.getElementById(tableId); 
      const rows = table.rows; 
      for (let i = 1; i < rows.length; i++){

        let currentCell = null; 
        let colspan = 1; 
        for (let j = 0; j < rows[i].cells.length; j++){

          const cell = rows[i].cells[j];
          if (j == 0) { 
            currentCell = cell; 
            currentCell.style.backgroundColor = '#a9a9a9';
          } else if (cell.innerHTML === currentCell.innerHTML) { 
            colspan++; 
            cell.style.display = 'none'; 
            currentCell.colSpan = colspan; 
          } else if (cell.innerHTML !== currentCell.innerHTML) { 
            currentCell = cell;
            currentCell.style.textAlign = 'center'; 
            currentCell.style.verticalAlign = 'middle';
            colspan = 1;
          }
        }
      }
    }
    window.onload = () => { 
      mergeTableCells('reporte'); 
    };
  </script>
</body>
</html>
