body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#buscar-ID {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#tabla-usuarios {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#tabla-usuarios thead {
    background-color: #ff84f7;
    color: #fff;
}

#tabla-usuarios th, #tabla-usuarios td {
    padding: 12px 15px;
    text-align: left;
}

#tabla-usuarios th {
    font-weight: bold;
}

#tabla-usuarios tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tabla-usuarios tbody tr:hover {
    background-color: #f1f1f1;
}

.role-dropdown {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: auto; /* Adjust width to fit content */
    display: inline-block;
    margin-right: 10px; /* Add space between dropdown and button */
    vertical-align: middle; /* Align vertically with the button */
}

.btn-actualizar-rol {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle; /* Align vertically with the dropdown */
}

.btn-actualizar-rol:hover {
    background-color: #0056b3;
}