.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-carousel {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.img-carousel img {
    width: 100%;
    vertical-align: middle;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#prevSlide {
    left: 0;
}

#nextSlide {
    right: 0;
}