<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de roles</title>
    <link rel="stylesheet" href="../css/asignar-roles.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body data-roles="admin">

    <nav class="navbar">
        <div class="container">
      
          <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
              <span></span>
              <span></span>
              <span></span>
            </button>
        </div>
        
        <div class="navbar-menu" id="open-navbar1">
              <a href="/">
                <img src="../img/ucabair-logo.png" alt="logo" id="navbar-logo">
              </a>
            <ul class="navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li class="navbar-dropdown">
                <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                  Categories <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown" id="my-dropdown-id">
                  <li><a href="#">Category 1</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 2</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 3</a></li>
                </ul>
              </li>
           
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Signin</a></li>
            </ul>
          </div>
        </div>
    </nav>   

    <h1>Asignación de roles</h1>

    <div>
        <input type="text" id="buscar-ID" placeholder="Buscar por ID" oninput="buscarID()">
    </div>

    <!-- Tabla de usuarios -->
    <table id="tabla-usuarios">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol actual</th>
                <th>Asignar rol</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de la tabla se generarán dinámicamente -->
        </tbody>
    </table>

    <script src="../js/asignar-roles.js"></script>
</body>
</html>