<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra de Aviones</title>
    <link rel="stylesheet" href="../css/construccion.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body data-roles="*">

    <nav class="navbar">
        <div class="container">
      
          <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
              <span></span>
              <span></span>
              <span></span>
            </button>
        </div>
        
        <div class="navbar-menu" id="open-navbar1">
              <a href="/">
                <img src="../img/ucabair-logo.png" alt="logo" id="navbar-logo">
              </a>
            <ul class="navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li class="navbar-dropdown">
                <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                  Categories <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown" id="my-dropdown-id">
                  <li><a href="#">Category 1</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 2</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 3</a></li>
                </ul>
              </li>
           
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Signin</a></li>
            </ul>
          </div>
        </div>
    </nav>   

    <div id="overlay" class="hidden">
      <div id="container-caracteristicas">
          <table id="tabla-caracteristicas">
              <thead>
                  <tr>
                      <th>Caracteristica</th>
                      <th>Cantidad</th>
                      <th>unidad medida</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Las filas de la tabla se generarán dinámicamente -->
              </tbody>
          </table>
      </div>
  </div>

    <h1>Construcción de Aviones</h1>
    <table id="tabla-aviones">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre modelo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de la tabla se generarán dinámicamente -->
        </tbody>
    </table>
    <script src="../js/construccion.js"></script>
</body>
</html>