<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Roles</title>
    <link rel="stylesheet" href="../css/styles-roles.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body data-roles="admin">
    <nav class="navbar">
        <div class="container">
      
          <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
              <span></span>
              <span></span>
              <span></span>
            </button>
        </div>
        
        <div class="navbar-menu" id="open-navbar1">
              <a href="/">
                <img src="../img/ucabair-logo.png" alt="logo" id="navbar-logo">
              </a>
            <ul class="navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li class="navbar-dropdown">
                <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                  Categories <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown" id="my-dropdown-id">
                  <li><a href="#">Category 1</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 2</a></li>
                  <li class="separator"></li>
                  <li><a href="#">Category 3</a></li>
                </ul>
              </li>
           
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Signin</a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container-roles">
        <form id="form-roles">
            <label for="nombre-rol">Nombre del rol: </label>
            <input type="text" name="nombre-rol" id="nombre-rol" required>
            <div class="permissions">
                <div class="header">
                    <span>Gestión</span>
                    <span>C</span>
                    <span>R</span>
                    <span>U</span>
                    <span>D</span>
                </div>
                <div class="row">
                    <span>Gestión 1</span>
                    <input type="checkbox" id="gestion1-c">
                    <input type="checkbox" id="gestion1-r">
                    <input type="checkbox" id="gestion1-u">
                    <input type="checkbox" id="gestion1-d">
                </div>
                <div class="row">
                    <span>Gestión 2</span>
                    <input type="checkbox" id="gestion2-c">
                    <input type="checkbox" id="gestion2-r">
                    <input type="checkbox" id="gestion2-u">
                    <input type="checkbox" id="gestion2-d">
                </div>
                <div class="row">
                    <span>Gestión 3</span>
                    <input type="checkbox" id="gestion3-c">
                    <input type="checkbox" id="gestion3-r">
                    <input type="checkbox" id="gestion3-u">
                    <input type="checkbox" id="gestion3-d">
                </div>
            </div>
            <button type="submit">Confirmar</button>
        </form>
    </div>
    <script src="../js/roles.js"></script>
</body>
</html>